.dialog {
    width: 400px;
    padding: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

input {
    width: 100%;
}