<mat-card class="project-card">
    <mat-card-title class="project-title">{{ data.name }}</mat-card-title>
    <mat-card-content class="project-description">
        <p>{{ data.description }}</p>
        <button mat-raised-button color="primary" (click)="createTask(data.id)">Create Task</button>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content class="project-tasks">
        <p class="tasks">Tasks</p>
        <mat-list>
            <mat-list-item *ngFor="let task of tasks | async" class="task-item">
                <div class="task-container">
                    <p class="task-title">{{ task.title }}</p>
                    <p class="task-description">{{ task.description }}</p>
                    <button mat-raised-button color="warn" class="task-button">Delete</button>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button (click)="closeDialog()">Close</button>
    </mat-card-actions>
</mat-card>