.project-card {
    width: 500px;
    max-height: 700px;
    overflow: auto;
}

.project-title {
    text-align: center;
    margin: 20px;
}

.project-description {
    margin: 20px;
}

.tasks {
    margin: 30px;
    text-align: center;
    font-size: large;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.task-title {
    flex: 2;
    margin-right: 10px;
    margin-left: 10px;
}

.task-description {
    flex: 3;
    margin-right: 10px;
}

.task-card {
    margin: 20px;
}

.finished-tasks {
    margin: 30px;
    text-align: center;
    font-size: large;
}

.finished-task-title {
    text-decoration: line-through;
    color: gray;
}

.task-deadline {
    margin-right: 30px;
}

.task-status{
    margin-right: 5px;
}

.delete-button {
    color: red;
    margin-left: 20px;
}