.project-card {
    width: 500px;
    max-height: 700px;
    overflow: auto;
}

.project-title {
    text-align: center;
    margin: 20px;
}

.project-description {
    margin: 20px;
}

.tasks {
    margin: 30px;
    text-align: center;
    font-size: large;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.task-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.task-title {
    flex: 2;
    margin-right: 10px;
}

.task-description {
    flex: 3;
    margin-right: 10px;
}

.task-button {
    flex: 1;
}

.task-card {
    margin: 20px;
}