:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

mat-card-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}