<div class="container">
  <h2>Welcome!</h2>
  <h3>Please Log-In</h3>
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" required>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="login()">Log-In!</button>
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-content>
      <p>No account?</p>
      <a routerLink="/register">Sign-In!</a>
    </mat-card-content>
  </mat-card>
</div>