<h2>Create Task</h2>
<mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter title" [(ngModel)]="task.title" name="title" required>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Enter description" [(ngModel)]="task.description" name="description"
        required></textarea>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Deadline</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="task.deadline" name="deadline"
        required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Importance</mat-label>
    <mat-select [(ngModel)]="task.importance" name="importance" required>
        <mat-option value="low">Low</mat-option>
        <mat-option value="moderate">Moderate</mat-option>
        <mat-option value="high">High</mat-option>
    </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="createTask()">Create Task</button>