form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

mat-form-field {
    width: 100%;
}

button {
    align-self: flex-end;
}

mat-card {
    width: 350px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

mat-card-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

mat-card-title{
    text-align: center;
}